

.typography {
  display:flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
}

.container{
  margin-top: 2vh;
  width: 100vw;
  height: 80vh;
  display:flex;
  flex-direction: column;
}


.content {
  width: 90vw ;
  margin: auto;
  margin-top: 10vh ;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  
}

@media screen and (min-width: 900px) {

  .container{
  margin-top: 25vh;
  width: 100vw;
  height: 55vh;
  display:flex;
  flex-direction: column;
}
  
}