.hero {
  width:100vw;
  height:100vh;  
  display: flex;
  background-image:url("../images/mini.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  mix-blend-mode:screen;
  overflow: hidden;
}


.typography-box{
  position:absolute;
  top:10vh;
  left:5vw;
  width:90vw;
  color:white;
  margin-top:10vh;
  height: 60vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  
}

.types-one {
  margin-bottom: 10vh;
}
.types-two {
  margin-bottom: 10vh;
}
.types-three {
  text-align:center;
 
}

.books-button {
   margin-top: 5vh;
  
}

.great-span{

  color:#00E6DB
}

.book-cards {
  margin-top:10vh;
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 

}

.book-card {
  background-image: linear-gradient(to bottom,rgba(20, 16, 0,1),#001712,#001712,rgba(20, 16, 0,.8));
  /* width:100vw;
  height:30vh;
  display: flex; */

}

@media screen and (min-width: 900px){


  .hero{
  width:100vw;
  height:100vh;  
  display: flex;
  background-image:url("../images/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  mix-blend-mode:screen;
  overflow: hidden;

  }

  .book-cards {
  margin-top:10vh;
  height:100vh;
  width:100vw;
  display: grid ;
  grid-template-columns: 40% 40%;
  justify-content: space-around;


}

.typography-box{
  position:absolute;
  top:10vh;
  left:5vw;
  width:90vw;
  color:white;
  margin-top:10vh;
  height: 60vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  
}
}








