.hero {
  width:100vw;
  height:100vh;  
  background-image:url("../images/mini.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  mix-blend-mode:screen;
  overflow: hidden;
}


.typography-box{
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
  color:white;
  margin-top:10vh;
  height: 80vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.types-one {
  margin-bottom: 10vh;
}
.types-two {
  margin-bottom: 10vh;
}
.types-three {
  text-align:center;
 
}

.books-button {
   margin-top: 5vh;
}

.great-span{

  color:#00E6DB
}

.book-cards {
  margin-top:10vh;
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 

}









