*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}


body {
  background-color: #141000;
}
.link-box {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;
  background-color: #DDB771;
  
  transform: translate(100vw, -1vh);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.56, 0.25, 0.81, 1.52),
    opacity 0.8s cubic-bezier(0.96, 0.19, 1, 1.13);
} 

/* 00E6DB */

.link-box-active {
  transform: translate(0vw, 0vh);
  opacity: 1;
}
.drawer-icon {
   
    color:#00E6DB
  }

@media screen and (min-width: 900px) {
   
  ::-webkit-scrollbar {
   width: 15px ;
}

::-webkit-scrollbar-track {
  background: #141000;
  border-left: 1px solid #DDB771 ;

  margin-top: -10px ;
  margin-bottom: -10px ;

}
::-webkit-scrollbar-thumb {   
   background:#DDB771 ;
   height:30% ;
   border-radius: 100vw ;
}

@supports(scrollbar-color: red green) {
  *{
    scrollbar-color:  #DDB771 #141000 ;
  }

}
   
  .link-box {
    position: static;
    width: 50vw;
    height: 100%;
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent ;
    margin-left: auto;
    transform: translate(0vh, 0vh);
    opacity: 1;
    transition: transform 0.8s cubic-bezier(0.56, 0.25, 0.81, 1.52),
      opacity 0.8s cubic-bezier(0.96, 0.19, 1, 1.13);
  }
  .drawer-icon {
    display: none;
  }
}
