.container {

  display:flex;
  flex-direction: column;
  width:90vw;
  height: 80vh;
  margin:auto;
}
.textContainer {
  display: flex;
  flex-direction: column
}

@media screen and (min-width: 900px) {

  .container{
  margin-top:7vh;
  width: 100vw;
  height: 73vh ;
  display:flex;
  flex-direction: column;

}
  
}